/* rem and em do not depend on  font-size in medeia queries!
Instead , 1rem = 1em = 16px*/
/*****************************************/
/*** BELOW  1244px (Smaller desktop) ***/
/*****************************************/
@media (max-width:84em){
    .hero{
        max-width:120rem;
    }
    .heading-primary{
        font-size:4.4rem;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
        
    }   
    .person-image{
        margin-top:15rem;
    }
    
}

/*****************************************/
/*** BELOW  1200px (Tabletor Landscape) ***/
/*****************************************/

@media (max-width:75em){
    html{
        /* 9px/16em=56.25 */
        font-size: 56%;
    }
    .subheading h1{
        font-size:3.8rem;
    }
    .grid-section{
        column-gap:4.8rem;
    }
    .meals-gallery{
        width:105rem;
        grid-template-columns: 33rem 33rem 33rem;
        column-gap:3.8rem;
    }
}