/* rem and em do not depend on  font-size in medeia queries!
Instead , 1rem = 1em = 16px*/
/*****************************************/
/*** BELOW  1244px (Smaller desktop) ***/
/*****************************************/
@media (max-width:84em){
    .hero{
        max-width:120rem;
    }
    .heading-primary{
        font-size:4.4rem;
    }
    .gallery{
        grid-template-columns: repeat(2,1fr);
        
    }   
    .person-image{
        margin-top:15rem;
    }
    
}

/*****************************************/
/*** BELOW  1200px (Tabletor Landscape) ***/
/*****************************************/

@media (max-width:75em){
    html{
        /* 9px/16em=56.25 */
        font-size: 56%;
    }
    .subheading h1{
        font-size:3.8rem;
    }
    .grid-section{
        column-gap:4.8rem;
    }
    .meals-gallery{
        width:105rem;
        grid-template-columns: 33rem 33rem 33rem;
        column-gap:3.8rem;
    }
    .hero{
        max-width: 105rem;
        gap:7.6rem;
    }
    p.how-its, .step-heading, p.step-number, p.step-heading1, p.step-description{
        margin-left:1rem;
    }
    .pricing-text, .pricing-description, .foooter{
        margin-left:1rem;
    }
    .testimonial{
        grid-template-columns: 1fr 47rem;
        column-gap: 4rem;
    }
    .gallery{
         padding:1rem 0;
    }
    .person-1{
        margin-top:-5rem;
    }
}

/*****************************************/
/*** BELOW  946px (Tabletor Landscape) ***/
/*****************************************/

@media(max-width:60em){
    .hero{
        grid-template-columns: 1fr;

    }
    .section-hero{
        width:107rem;
    }
    .nevigation{
        width:107rem;
        margin:0 auto;
    }
    .heading-primary{
        text-align: center;
    }
    .hero-description{
        text-align: center;
    }
    .hero-btn{
        display:flex;
        justify-content: center;
    }
    .delivered-meals{
        justify-content: center;
    }
    .hero-img{
        width:55%;
        margin-left:22rem;
    }
    .container{
        width:95rem;
        margin:0 auto;
    }
    .brand-imgs{
        width:98rem;
        margin: 0 auto;
        gap:2.2rem;
    }
    .subheading{
        width:100rem;
        margin:0 auto;
        gap:2.4rem;
    }
    .grid-section{
        width: 100rem;
        margin: 0 auto;
    }
    .meals-gallery {
        width: 100rem;
        grid-template-columns: 33rem 33rem 28rem;
    }
    .testimonial{
        width:107rem;
    }
    .pricing-text, .pricing-description, .foooter{
        margin-left:3rem;
    
    }
    .testimonial{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(6,1fr);
        margin:1rem;
    }
    .get-in-touch{
        grid-template-columns: 60rem 1fr;
        margin:1rem;
    }
    .git-description h1 {
        font-size: 3.6rem;

    }
    .get-in-touch-form{
        grid-template-columns: 1fr;
    }
    .eating-image{
        width:100%;
        height:100%;
    }
    .name-box{
        width:50rem;
    }
    .selection{
        width:50rem;
    }
    .sign-up-btn{
        width:100%;
    }
    .pricing-table{
        width:80rem;
        margin: 0 12rem;
        column-gap: 3.4rem;
    }
    .pricing-text{
        width:87rem;
    }
    .pricing-tax-plan{
        width:102rem;
    }
    .pricing-description{
        width:102rem;
    }
    .get-in-touch{
        width:102rem;
    }
    .foooter{
        width:102rem;
    }
}
    
